@{
  TempData.Keep();
  ViewData["containerNav"] = (ViewData["containerNav"] ??= "container-fluid");
}

<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
  <div class="@ViewData["containerNav"]">
    <div class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
      <div class="mb-2 mb-md-0">
        &#169; 2026 Ğ¼Î±âˆ‚Ñ” Ï‰Î¹Ñ‚Ğ½ Ğ²Ñƒ Î±Ñƒâ„“Î± Ñ•Ñ”Î·Ñ‚Ï…ÑĞº
        <a href="https://github.com/aylasenturk" target="_blank" class="footer-link ms-2" title="GitHub">
          <i class="bx bxl-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/ayla-%C5%9Fent%C3%BCrk-9828163a9" target="_blank" class="footer-link ms-1" title="LinkedIn">
          <i class="bx bxl-linkedin"></i>
        </a>
        <a href="https://x.com/SenturkAyl60453" target="_blank" class="footer-link ms-1" title="X">
          <i class="bx bxl-twitter"></i>
        </a>
      </div>
      <div>
        <span class="text-muted">ğšŠğš—ğš ğšŒğš˜ğš—ğšğš›ğš’ğš‹ğšğšğšğš ğš‹ğš¢ ğ™´ğš—ğšğšœ ğ™²ğšŠğš— ğ™°ğš”</span>
      </div>
    </div>
  </div>
</footer>
<!-- / Footer -->
